<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="trIdNumber">
        <th mat-header-cell *matHeaderCellDef> TC Kimlik Numarası </th>
        <td mat-cell *matCellDef="let element"> {{element.trIdNumber}} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> İsim </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef> Soyisim </th>
        <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
      </ng-container>
  
      <ng-container matColumnDef="insuranceId">
        <th mat-header-cell *matHeaderCellDef> SGK Sicil Numarası </th>
        <td mat-cell *matCellDef="let element"> {{element.insuranceId}} </td>
      </ng-container>
  
      <ng-container matColumnDef="startDateOfWork">
        <th mat-header-cell *matHeaderCellDef> İşe Başlangıç Tarihi </th>
        <td mat-cell *matCellDef="let element"> {{element.startDateOfWork}} </td>
      </ng-container>
 
      <ng-container matColumnDef="profession">
        <th mat-header-cell *matHeaderCellDef> Meslek Dalı </th>
        <td mat-cell *matCellDef="let element"> {{element.profession}} </td>
      </ng-container>
  
      <ng-container matColumnDef="typeOfPlace">
        <th mat-header-cell *matHeaderCellDef> Çalıştığı Birim </th>
        <td mat-cell *matCellDef="let element"> {{element.typeOfPlace}} </td>
      </ng-container>
  
      <ng-container matColumnDef="tKIId">
        <th mat-header-cell *matHeaderCellDef> TKİ Sicil Numarası </th>
        <td mat-cell *matCellDef="let element"> {{element.tKIId}} </td>
      </ng-container> 
 
      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef> Birimi </th>
        <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
      </ng-container>

      <ng-container matColumnDef="accidentAdd">
        <th mat-header-cell *matHeaderCellDef> Kaza Ekle </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="openAccidentAddDialog(element.id)">
            <img src="../../../../../../assets/icons/add.png" alt="Kaza Ekle">
          </button>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="accidentList">
        <th mat-header-cell *matHeaderCellDef> Kazaları Göster </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="openAccidentDialog(element.id)">
            <img src="../../../../../../assets/icons/list.svg" alt="Kaza Ekle">
          </button>
        </td>
      </ng-container>
  

  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator (page)="pageChanged()"
                   [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>