<h1 mat-dialog-title>Kaza Oluşum Tipini Giriniz:</h1>
<div mat-dialog-content>
  <form #personnelForm="ngForm">
  <mat-form-field appearance="fill" class="personnel-create">
    <mat-label>Kaza Oluşum Tipi</mat-label>
    <input matInput #txtTypeOfAccident="ngModel" name="name" ngModel required>
    <mat-error *ngIf="txtTypeOfAccident.invalid && (txtTypeOfAccident.dirty || txtTypeOfAccident.touched)">
      <span *ngIf="txtTypeOfAccident.errors?.required">İsim gereklidir.</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Kaza Tarihi</mat-label>
    <input matInput [matDatepicker]="picker1" #txtAccidentDate>
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  
  <mat-form-field appearance="fill">
    <mat-label>Kaza Saati</mat-label>
    <input matInput type="time" #txtAccidentHour>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>İşe Başlangıç Tarihi</mat-label>
    <input matInput [matDatepicker]="picker2" #txtOnTheJobDate>
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Açıklama</mat-label>
    <input matInput #txtDescription>
  </mat-form-field>
</form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">İptal</button>
  <button mat-raised-button class="btn" color="primary" [disabled]="personnelForm.invalid" (click)="createAccident(txtTypeOfAccident.value, txtAccidentDate.value, txtAccidentHour.value, txtOnTheJobDate.value, txtDescription.value)">Kaza Ekle</button>
</div>
