<h2 mat-dialog-title>Fiili Yevmiye Sayısı Ekle</h2>
<mat-dialog-content>
  <form #form="ngForm">
    <mat-form-field appearance="fill" class="field">
        <mat-label>Ay</mat-label>
        <mat-select [(ngModel)]="month">
          <mat-option *ngFor="let month of months" [value]="month.value">{{ month.viewValue }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
        <mat-label>Yıl</mat-label>
        <mat-select [(ngModel)]="year">
          <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
        <mat-label>İşletme</mat-label>
        <mat-select formControlName="directorate">
          <mat-option [value]="''">Boş bırak</mat-option>
          <mat-option *ngFor="let directorate of directorates" [value]="directorate.code || directorate.name">
            {{ directorate.code ? directorate.code + ' - ' + directorate.name : directorate.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field appearance="fill" class="field">
        <mat-label>Fiili Yevmiye Sayısı (Yerüstü)</mat-label>
        <input matInput [(ngModel)]="actualDailyWageSurface">
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
        <mat-label>Fiili Yevmiye Sayısı (Yeraltı)</mat-label>
        <input matInput [(ngModel)]="actualDailyWageUnderground">
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
        <mat-label>Çalışan Sayısı (Yerüstü)</mat-label>
        <input matInput [(ngModel)]="employeesNumberSurface">
      </mat-form-field>
      
      <mat-form-field appearance="fill" class="field">
        <mat-label>Çalışan Sayısı (Yeraltı)</mat-label>
        <input matInput [(ngModel)]="employeesNumberUnderground">
      </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
        <button mat-button (click)="createAccidentStatistic()">Ekle</button>
      <button mat-button mat-dialog-close>İptal</button>
</mat-dialog-actions>
