  .update-button {
    cursor: pointer !important;
  }

  .container{
    text-align: center;
  }

  .search {
    height: 55px; 
    margin-bottom: 24px; 
    position: absolute;
    right: 20px;
  }

  .personnelAdd {
    margin-top: 10px;
    margin-left: 20px;
  }

  .header{
    margin-left: 20px;
  }

  .main-title {
    height: 55px; 
    margin-bottom: 25px;
  }