<div class="mat-elevation-z8">
  <div class="filter-container">
    <mat-form-field appearance="fill">
      <mat-label>Filtrele</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Personel Ara">
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="trIdNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">TC Kimlik Numarası</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.trIdNumber}}</td>
    </ng-container>
    
    <ng-container matColumnDef="tKIId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> TKİ Sicil Numarası </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.tKIId}} </td>
    </ng-container> 

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> İsim </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> Soyisim </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.surname}} </td>
    </ng-container>
    
    <ng-container matColumnDef="unit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> Meslek Dalı </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.unit}} </td>
    </ng-container>

    <ng-container matColumnDef="retiredId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> Emekli Sicil Numarası </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.retiredId}} </td>
    </ng-container>

    <ng-container matColumnDef="insuranceId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> SGK Sicil Numarası </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.insuranceId}} </td>
    </ng-container>

    <ng-container matColumnDef="startDateOfWork">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;"> İşe Başlangıç Tarihi </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.startDateOfWork | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="accidentAdd">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Kaza Ekle </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">
        <button mat-icon-button color="primary" (click)="openAccidentAddDialog(element.id)">
          <img src="../../../../../../assets/icons/add.png" alt="Kaza Ekle">
        </button>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="accidentList">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Kazaları Göster </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">
        <button mat-icon-button color="primary" (click)="openAccidentsDialog(element.id)">
          <img src="../../../../../../assets/icons/list.svg" alt="Kaza Ekle">
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="personnelUpdate" >
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Personel Bilgilerini Güncelle </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">
        <button mat-icon-button color="primary" (click)="openPersonnelUpdateDialog(element)">
          <img src="../../../../../../assets/icons/edit.png" alt="Personel Güncelle">
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete"> 
      <th mat-header-cell *matHeaderCellDef width="30" style="text-align: center;"> Personel Bilgilerini Sil </th>
      <td mat-cell *matCellDef="let element"
      style="text-align: center;"
          appDelete
          [id]="element.id"
          (callback)="getPersonnels()"
          controller="personnels">
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="row">
    <div class="col-3">
      <button mat-icon-button color="primary" (click)="openPersonnelAddDialog()">
        <img src="../../../../../../assets/icons/add.png" alt="Personel Ekle"> 
      </button>
    </div> 

    <div class="col-9">
      <mat-paginator 
      (page)="pageChanged()"
      [pageSizeOptions]="[10, 20, 100]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div> 
</div>