<h1 mat-dialog-title>Kaza Oluşum Tipini Giriniz:</h1>
<div mat-dialog-content>
  <form #personnelForm="ngForm">

    <mat-form-field appearance="fill">
      <mat-label>Kaza Oluşum Tipi</mat-label>
      <input matInput [value]="typeOfAccident?.name" readonly (click)="openTypeOfAccidentPicker()">
      <button mat-icon-button matSuffix (click)="openTypeOfAccidentPicker()">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Kaza Tarihi</mat-label>
      <input matInput [matDatepicker]="picker1" #txtAccidentDate>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Kaza Saati</mat-label>
      <input matInput type="time" #txtAccidentHour>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>İşe Başlangıç Tarihi</mat-label>
      <input matInput [matDatepicker]="picker2" #txtOnTheJobDate>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Açıklama</mat-label>
      <input matInput #txtDescription>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">İptal</button>
  <button mat-raised-button class="btn" color="primary" [disabled]="personnelForm.invalid"
    (click)="createAccident(typeOfAccident?.name, txtAccidentDate.value, txtAccidentHour.value, txtOnTheJobDate.value, txtDescription.value)">
    Kaza Ekle
  </button>
</div>
