<h1 mat-dialog-title>Personel Bilgilerini Güncelle:</h1>
<div mat-dialog-content>
  <form #personnelForm="ngForm">
    <mat-form-field appearance="fill" class="personnel-create">
      <mat-label>TC Kimlik Numarası</mat-label>
      <input matInput type="text" maxlength="11" minlength="11" pattern="^[0-9]*$" #txtTrIdNumber="ngModel"
        name="trIdNumber" ngModel>
      <mat-error *ngIf="txtTrIdNumber.invalid && (txtTrIdNumber.dirty || txtTrIdNumber.touched)">
        <span *ngIf="txtTrIdNumber.errors?.pattern">TC Kimlik Numarası sadece rakamlardan oluşmalıdır.</span>
        <span *ngIf="txtTrIdNumber.errors?.minlength || txtTrIdNumber.errors?.maxlength">TC Kimlik Numarası 11 haneli
          olmalıdır.</span>
      </mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="personnel-create">
      <mat-label>TKİ Sicil No</mat-label>
      <input matInput type="text" pattern="^[0-9]*$" required #txtTkiId="ngModel"
        name="tkiId" ngModel>
      <mat-error *ngIf="txtTkiId.invalid && (txtTkiId.dirty || txtTkiId.touched)">
        <span *ngIf="txtTkiId.errors?.required">TKİ Sicil Numarası gereklidir.</span>
        <span *ngIf="txtTkiId.errors?.pattern">TKİ Sicil Numarası sadece rakamlardan oluşmalıdır.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="personnel-create">
      <mat-label>İsim</mat-label>
      <input matInput #txtName="ngModel" name="name" ngModel required>
      <mat-error *ngIf="txtName.invalid && (txtName.dirty || txtName.touched)">
        <span *ngIf="txtName.errors?.required">İsim gereklidir.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="personnel-create">
      <mat-label>Soyisim</mat-label>
      <input matInput #txtSurname="ngModel" name="surname" ngModel required>
      <mat-error *ngIf="txtSurname.invalid && (txtSurname.dirty || txtSurname.touched)">
        <span *ngIf="txtSurname.errors?.required">Soyisim gereklidir.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
      <mat-label>Mesleği</mat-label>
      <input matInput [value]="profession?.name" readonly (click)="openProfessionPicker()">
      <button mat-icon-button matSuffix (click)="openProfessionPicker()">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
      <mat-label>Doğum Tarihi</mat-label>
      <input matInput [matDatepicker]="picker" #txtBornDate="ngModel" name="bornDate" ngModel>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <!-- <mat-error *ngIf="txtBornDate.invalid && (txtBornDate.dirty || txtBornDate.touched)">
        <span *ngIf="txtBornDate.errors?.required">Doğum tarihi gereklidir.</span>
        <span *ngIf="txtBornDate.errors?.dateInFuture">Doğum tarihi geçmiş tarihli olmalı.</span>
      </mat-error> -->
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">İptal</button>
  <button mat-raised-button color="primary" [disabled]="personnelForm.invalid"
    (click)="updatePersonnel()">Güncelle</button>
</div>