<h1 mat-dialog-title>Personel Bilgilerini Güncelle:</h1>
<div mat-dialog-content>
  <form #personnelForm="ngForm">
    <mat-form-field appearance="fill" class="field">
      <mat-label>TC Kimlik Numarası</mat-label>
      <input matInput type="text" maxlength="11" minlength="11" pattern="^[0-9]*$" name="trIdNumber" [(ngModel)]="data.trIdNumber">
      <mat-error *ngIf="personnelForm.controls['trIdNumber'].invalid && (personnelForm.controls['trIdNumber'].dirty || personnelForm.controls['trIdNumber'].touched)">
        <span *ngIf="personnelForm.controls['trIdNumber'].errors?.pattern">TC Kimlik Numarası sadece rakamlardan oluşmalıdır.</span>
        <span *ngIf="personnelForm.controls['trIdNumber'].errors?.minlength || personnelForm.controls['trIdNumber'].errors?.maxlength">TC Kimlik Numarası 11 haneli
          olmalıdır.</span>
      </mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="field">
      <mat-label>TKİ Sicil No</mat-label>
      <input matInput type="text" pattern="^[0-9]*$" name="tkiId" [(ngModel)]="data.tkiId">
      <mat-error *ngIf="personnelForm.controls['tkiId'].invalid && (personnelForm.controls['tkiId'].dirty || personnelForm.controls['tkiId'].touched)">
        <span *ngIf="personnelForm.controls['tkiId'].errors?.pattern">TKİ Sicil Numarası sadece rakamlardan oluşmalıdır.</span>
        <span *ngIf="personnelForm.controls['tkiId'].errors?.minlength || personnelForm.controls['tkiId'].errors?.maxlength">TKİ Sicil Numarası 11 haneli
          olmalıdır.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
      <mat-label>İsim</mat-label>
      <input matInput type="text" name="name" [(ngModel)]="data.name">
      <mat-error *ngIf="personnelForm.controls['name'].invalid && (personnelForm.controls['name'].dirty || personnelForm.controls['name'].touched)">
        <span *ngIf="personnelForm.controls['name'].errors?.required">İsim gereklidir.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
      <mat-label>Soyisim</mat-label>
      <input matInput type="text" name="surname" [(ngModel)]="data.surname">
      <mat-error *ngIf="personnelForm.controls['surname'].invalid && (personnelForm.controls['surname'].dirty || personnelForm.controls['surname'].touched)">
        <span *ngIf="personnelForm.controls['surname'].errors?.required">Soyisim gereklidir.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
      <mat-label>Mesleği</mat-label>
      <input matInput [value]="profession?.name" name="profession" [(ngModel)]="data.profession" readonly (click)="openProfessionPicker()">
      <button mat-icon-button matSuffix (click)="openProfessionPicker()">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="field">
      <mat-label>İşletme</mat-label>
      <input matInput [value]="directorate?.name" name="directorate" [(ngModel)]="data.directorate" readonly (click)="openDirectoratePicker()">
      <button mat-icon-button matSuffix (click)="openDirectoratePicker()">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
      <mat-label>Doğum Tarihi</mat-label>
      <input matInput [matDatepicker]="picker1" name="bornDate" [(ngModel)]="data.bornDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <!-- <mat-error *ngIf="personnelForm.controls['bornDate'].invalid && (personnelForm.controls['bornDate'].dirty || accidentForm.controls['accidentDate'].touched)">
        <span *ngIf="personnelForm.controls['bornDate'].errors?.required">Doğum tarihi gereklidir.</span>
      </mat-error> -->
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">İptal</button>
  <button mat-raised-button color="primary" [disabled]="personnelForm.invalid"
    (click)="updatePersonnel()">Güncelle</button>
</div>