       <!-- ============================================================== -->
        <!-- Bread crumb -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
              <div class="col-12 d-flex no-block align-items-center">
                <h2 class="page-title">İş Güvenliği</h2>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- End Bread crumb -->
          <!-- ============================================================== -->
          
          <!-- ============================================================== -->
          <!-- Container fluid  -->
          <!-- ============================================================== -->
          <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Sales Cards  -->
            <!-- ============================================================== -->
            <div class="row">
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-danger text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-archive"></i>
                    </h1>
                    <h4 class="text-white">İş Kazaları</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-danger text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-chart-areaspline"></i>
                    </h1>
                    <h4 class="text-white">Kişisel Koruyucu Donanımlar</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-danger text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-collage"></i>
                    </h1>
                    <h4 class="text-white">Periyodik Kontroller</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-danger text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-border-outside"></i>
                    </h1>
                    <h4 class="text-white">İş Güvenliği Uzmanlığı</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-danger text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-arrow-all"></i>
                    </h1>
                    <h4 class="text-white">Yevmiye, Çalışan ve Üretim</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-danger text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-receipt"></i>
                    </h1>
                    <h4 class="text-white">Genel Tablo</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-danger text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-relative-scale"></i>
                    </h1>
                    <h4 class="text-white">Genel Tablo Grafikleri</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-danger text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-pencil"></i>
                    </h1>
                    <h4 class="text-white">Son iki Yıl Tablo</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-danger text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-calendar-check"></i>
                    </h1>
                    <h4 class="text-white">Son iki yıl Tablo Grafikleri</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-danger text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-alert"></i>
                    </h1>
                    <h4 class="text-white">Kaza istatistikleri</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-danger text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-alert"></i>
                    </h1>
                    <h4 class="text-white">İş Kazaları Raporu</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-danger text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-alert"></i>
                    </h1>
                    <h4 class="text-white">Periyodik Kontrol Raporu</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-danger text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-alert"></i>
                    </h1>
                    <h4 class="text-white">Yevmiye, Çalışan ve Üretim</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-danger text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-alert"></i>
                    </h1>
                    <h4 class="text-white">ISG Kurul</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-danger text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-alert"></i>
                    </h1>
                    <h4 class="text-white">İş Güvenliği Uzmanlığı Raporu</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-danger text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-alert"></i>
                    </h1>
                    <h4 class="text-white">Temel Uzuv Raporu</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-danger text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-alert"></i>
                    </h1>
                    <h4 class="text-white">Kaza Nedenleri Raporu</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
            </div>