<!-- ============================================================== -->
<!-- Bread crumb -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-12 d-flex no-block align-items-center">
      <h2 class="page-title">Tanımlamalar</h2>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Sales Cards  -->
    <!-- ============================================================== -->
    <div class="row">
      <!-- Column -->
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-dark text-center card-size">
            <h1 class="font-light text-white">
              <i class="mdi mdi-archive"></i>
            </h1>
            <h4 class="text-white">Birimler</h4>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-dark text-center card-size" (click)="showTypeOfAccidentDialog({})">
            <h1 class="font-light text-white">
              <i class="mdi mdi-chart-areaspline"></i>
            </h1>
            <h4 class="text-white">Kaza Türleri</h4>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-dark text-center card-size">
            <h1 class="font-light text-white">
              <i class="mdi mdi-collage"></i>
            </h1>
            <h4 class="text-white">Tutanak Türleri</h4>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-dark text-center card-size">
            <h1 class="font-light text-white">
              <i class="mdi mdi-border-outside"></i>
            </h1>
            <h4 class="text-white">Nedenler</h4>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-dark text-center card-size">
            <h1 class="font-light text-white">
              <i class="mdi mdi-arrow-all"></i>
            </h1>
            <h4 class="text-white">Sanatlar</h4>
          </div>
        </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-dark text-center card-size">
            <h1 class="font-light text-white">
              <i class="mdi mdi-receipt"></i>
            </h1>
            <h4 class="text-white">Uzuvlar</h4>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-dark text-center card-size">
            <h1 class="font-light text-white">
              <i class="mdi mdi-relative-scale"></i>
            </h1>
            <h4 class="text-white">Yerler</h4>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-dark text-center card-size">
            <h1 class="font-light text-white">
              <i class="mdi mdi-pencil"></i>
            </h1>
            <h4 class="text-white">Yer Türleri</h4>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-dark text-center card-size">
            <h1 class="font-light text-white">
              <i class="mdi mdi-calendar-check"></i>
            </h1>
            <h4 class="text-white">Sertifika Türleri</h4>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-dark text-center card-size">
            <h1 class="font-light text-white">
              <i class="mdi mdi-calendar-check"></i>
            </h1>
            <h4 class="text-white">Koruyucu Donanımlar</h4>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-dark text-center card-size">
            <h1 class="font-light text-white">
              <i class="mdi mdi-calendar-check"></i>
            </h1>
            <h4 class="text-white">Muayene Türleri</h4>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-dark text-center card-size">
            <h1 class="font-light text-white">
              <i class="mdi mdi-calendar-check"></i>
            </h1>
            <h4 class="text-white">Ölçüm Türleri</h4>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-dark text-center card-size">
            <h1 class="font-light text-white">
              <i class="mdi mdi-calendar-check"></i>
            </h1>
            <h4 class="text-white">Hastalık Türleri</h4>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
          <div class="box bg-dark text-center card-size">
            <h1 class="font-light text-white">
              <i class="mdi mdi-calendar-check"></i>
            </h1>
            <h4 class="text-white">İş Ekipmanı Türleri</h4>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>
