<h1 mat-dialog-title>Personel Bilgilerini Güncelle:</h1>
<div mat-dialog-content>
    <form #personnelForm="ngForm">
    <mat-form-field appearance="fill" class="personnel-create">
        <mat-label>TC Kimlik Numarası</mat-label>
        <input matInput type="text" maxlength="11" minlength="11" pattern="^[0-9]*$" required #txtTrIdNumber="ngModel" name="trIdNumber" ngModel>
        <mat-error *ngIf="txtTrIdNumber.invalid && (txtTrIdNumber.dirty || txtTrIdNumber.touched)">
          <span *ngIf="txtTrIdNumber.errors?.required">TC Kimlik Numarası gereklidir.</span>
          <span *ngIf="txtTrIdNumber.errors?.pattern">TC Kimlik Numarası sadece rakamlardan oluşmalıdır.</span>
          <span *ngIf="txtTrIdNumber.errors?.minlength || txtTrIdNumber.errors?.maxlength">TC Kimlik Numarası 11 haneli olmalıdır.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="personnel-create">
        <mat-label>İsim</mat-label>
        <input matInput #txtName="ngModel" name="name" ngModel required>
        <mat-error *ngIf="txtName.invalid && (txtName.dirty || txtName.touched)">
          <span *ngIf="txtName.errors?.required">İsim gereklidir.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="personnel-create">
        <mat-label>Soyisim</mat-label>
        <input matInput #txtSurname="ngModel" name="surname" ngModel required>
        <mat-error *ngIf="txtSurname.invalid && (txtSurname.dirty || txtSurname.touched)">
          <span *ngIf="txtSurname.errors?.required">Soyisim gereklidir.</span>
        </mat-error>
      </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Emekli Sicil Numarası</mat-label>
    <input matInput [(ngModel)]="data.retiredId">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>SGK Sicil Numarası</mat-label>
    <input matInput [(ngModel)]="data.insuranceId">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>İşe Başlagıç Tarihi</mat-label>
    <input matInput [matDatepicker]="accidentDatePicker" [(ngModel)]="data.startDateOfWork">
    <mat-datepicker-toggle matSuffix [for]="accidentDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #accidentDatePicker></mat-datepicker>
  </mat-form-field>
</form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">İptal</button>
  <button mat-raised-button color="primary" [disabled]="personnelForm.invalid" (click)="updatePersonnel()">Güncelle</button>
</div>
