       <!-- ============================================================== -->
        <!-- Bread crumb -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
              <div class="col-12 d-flex no-block align-items-center">
                <h2 class="page-title">İş Sağlığı</h2>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- End Bread crumb -->
          <!-- ============================================================== -->
          
          <!-- ============================================================== -->
          <!-- Container fluid  -->
          <!-- ============================================================== -->
          <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Sales Cards  -->
            <!-- ============================================================== -->
            <div class="row">
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-cyan text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-archive"></i>
                    </h1>
                    <h4 class="text-white">Sağlık Gözetimi</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-cyan text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-chart-areaspline"></i>
                    </h1>
                    <h4 class="text-white">İş Yeri Test ve Ölçümleri</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-cyan text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-collage"></i>
                    </h1>
                    <h4 class="text-white">Sağlık Personeli</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-cyan text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-border-outside"></i>
                    </h1>
                    <h4 class="text-white">Meslek Hastalıkları</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-cyan text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-arrow-all"></i>
                    </h1>
                    <h4 class="text-white">Sağlık Gözetim Raporu</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-cyan text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-receipt"></i>
                    </h1>
                    <h4 class="text-white">İş Yeri Test ve Ölçüm Raporu</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-cyan text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-relative-scale"></i>
                    </h1>
                    <h4 class="text-white">Meslek Hastalıkları Raporu</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-cyan text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-pencil"></i>
                    </h1>
                    <h4 class="text-white">Sağlık Personeli Raporu</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
              <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-cyan text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-calendar-check"></i>
                    </h1>
                    <h4 class="text-white">İş Sağlığı Uyarıları</h4>
                  </div>
                </div>
              </div>
              <!-- Column -->
            </div>