.header{
    margin-left: 20px;
  }
  
  .actualWageAdd {
    height: 55px; 
    margin-bottom: 25px; 
    margin-left: 20px;
  }
  
  .excel {
    height: 55px; 
    margin-bottom: 24px; 
    position: absolute;
    right: 20px;
  }
  
  .main-title {
    height: 55px; 
    margin-bottom: 25px;
  }