
<nav class="sidebar-nav">
    <ul id="sidebarnav" class="pt-4">
      <li class="sidebar-item">
        <a
          class="sidebar-link waves-effect waves-dark sidebar-link"
          routerLink="/admin"
          aria-expanded="false" 
          ><i class="mdi mdi-view-dashboard"></i
          ><span class="hide-menu">Ana Sayfa</span></a
        >
      </li>
      <li class="sidebar-item">
        <a
          class="sidebar-link waves-effect waves-dark sidebar-link"
          routerLink="authorize-menu"
          aria-expanded="false"
          ><i class="mdi mdi-fingerprint"></i
          ><span class="hide-menu">Yetkilendirme Sayfası</span></a
        >
      </li>
      <li class="sidebar-item">
        <a
          class="sidebar-link waves-effect waves-dark sidebar-link"
          routerLink="roles"
          aria-expanded="false"
          ><i class="mdi mdi-account-check"></i
          ><span class="hide-menu">Rol Ata</span></a
        >
      </li>
      <li class="sidebar-item">
        <a
          class="sidebar-link waves-effect waves-dark sidebar-link"
          routerLink="users"
          aria-expanded="false"
          ><i class="mdi mdi-account"></i
          ><span class="hide-menu">Kullanıcılar</span></a
        >
      </li>
      <li class="sidebar-item">
        <a
          class="sidebar-link waves-effect waves-dark sidebar-link"
          routerLink=""
          aria-expanded="false"
          ><i class="mdi mdi-account"></i
          ><span class="hide-menu">Siteyi Gör</span></a
        >
      </li>
    </ul>
  </nav>