<div class="user-profile-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Hesap Bilgilerim</h1>
      </mat-card-title>
      <mat-card-subtitle>
        Kullanıcı Bilgilerinizi görüntüleyebilir ve güncelleyebilirsiniz.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="user-info">
        <div class="info-item">
          <mat-icon>person</mat-icon>
          <span><strong>Ad Soyad:</strong> {{ user?.name }}</span>
        </div>
        <div class="info-item">
          <mat-icon>account_circle</mat-icon>
          <span><strong>Kullanıcı Adı:</strong> {{ user?.userName }}</span>
        </div>
        <div class="info-item">
          <mat-icon>email</mat-icon>
          <span><strong>Email Adresi:</strong> {{ user?.email }}</span>
        </div>
        <div class="info-item">
          <mat-icon>verified_user</mat-icon>
          <span>
            <strong>İki Aşamalı Doğrulama:</strong>
            <mat-chip [color]="user?.twoFactorEnabled ? 'primary' : 'warn'" selected>
              {{ user?.twoFactorEnabled ? 'Aktif' : 'Pasif' }}
            </mat-chip>
          </span>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions class="actions">
      <button mat-raised-button color="primary" (click)="openUpdateUserDialog(user, userId)">
        Bilgilerimi Güncelle
      </button>

      <button mat-raised-button color="primary" (click)="openUpdatePasswordDialog(userId)">
        Şifremi Güncelle
      </button>
    </mat-card-actions>
  </mat-card>
</div>