<h1 mat-dialog-title>Kaza Bilgilerini Güncelle:</h1>
<div mat-dialog-content>
  <form #accidentForm="ngForm">
    <mat-form-field appearance="fill" class="field">
      <mat-label>Kaza Oluşum Tipi</mat-label>
      <input matInput [value]="typeOfAccident" name="typeOfAccident?" [(ngModel)]="data.typeOfAccident" readonly (click)="openTypeOfAccidentPicker()">
      <button mat-icon-button matSuffix (click)="openTypeOfAccidentPicker()">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
      <mat-label>Uzuv</mat-label>
      <input matInput [value]="limb" name="limb?" [(ngModel)]="data.limb" readonly (click)="openLimbPicker()">
      <button mat-icon-button matSuffix (click)="openLimbPicker()">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
      <mat-label>Kaza Yeri</mat-label>
      <input matInput [value]="accidentArea" name="accidentArea?" [(ngModel)]="data.accidentArea" readonly (click)="openAccidentAreaPicker()">
      <button mat-icon-button matSuffix (click)="openAccidentAreaPicker()">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
      <mat-label>Kaza Tarihi</mat-label>
      <input matInput [matDatepicker]="picker1" name="accidentDate" [(ngModel)]="data.accidentDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <!-- <mat-error *ngIf="accidentForm.controls['accidentDate'].invalid && (accidentForm.controls['accidentDate'].dirty || accidentForm.controls['accidentDate'].touched)">
        <span *ngIf="accidentForm.controls['accidentDate'].errors?.required">Kaza tarihi gereklidir.</span>
      </mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
      <mat-label>Kaza Saati</mat-label>
      <input matInput type="time" name="accidentHour" [(ngModel)]="data.accidentHour">
      <!-- <mat-error *ngIf="accidentForm.controls['accidentHour'].invalid && (accidentForm.controls['accidentHour'].dirty || accidentForm.controls['accidentHour'].touched)">
        <span *ngIf="accidentForm.controls['accidentHour'].errors?.required">Kaza saati gereklidir.</span>
      </mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
      <mat-label>Raporlu Olduğu Gün Sayısı</mat-label>
      <input matInput type="text" name="lostDayOfWork" [(ngModel)]="data.lostDayOfWork">
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
      <mat-label>Açıklama</mat-label>
      <textarea matInput name="description" [(ngModel)]="data.description"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">İptal</button>
  <button mat-raised-button color="primary" [disabled]="accidentForm.invalid" 
  (click)="updateAccident()">Güncelle</button>
</div>
