<h1 mat-dialog-title>Kullanıcı Şifre Bilgilerini Güncelle:</h1>
<div mat-dialog-content>
  <form #userPasswordForm="ngForm">

    <mat-form-field appearance="fill" class="field">
        <mat-label>Şifre</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="data.password">
        <mat-error *ngIf="userPasswordForm.controls['password'].invalid && (userPasswordForm.controls['password'].dirty || userPasswordForm.controls['password'].touched)">
          <span *ngIf="userPasswordForm.controls['password'].errors?.required">Şifre gereklidir.</span>
        </mat-error>
      </mat-form-field>

    <mat-form-field appearance="fill" class="field">
      <mat-label>Şifre Tekrarı</mat-label>
      <input matInput type="password" name="passwordConfirm" [(ngModel)]="data.passwordConfirm">
      <mat-error *ngIf="userPasswordForm.controls['passwordConfirm'].invalid && (userPasswordForm.controls['passwordConfirm'].dirty || userPasswordForm.controls['passwordConfirm'].touched)">
        <span *ngIf="userPasswordForm.controls['passwordConfirm'].errors?.required">Şifre tekrarı gereklidir.</span>
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">İptal</button>
  <button mat-raised-button color="primary" [disabled]="userPasswordForm.invalid"
    (click)="updatePassword()">Güncelle</button>
</div>
