<h1 mat-dialog-title>Kullanıcı Şifre Bilgilerini Güncelle:</h1>
<div mat-dialog-content>
  <form [formGroup]="passwordForm">

    <mat-form-field appearance="fill" class="field">
        <mat-label>Şifre</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="passwordForm.get('password')?.invalid && passwordForm.get('password')?.touched">
          <span *ngIf="passwordForm.get('password')?.hasError('required')">Şifre gereklidir.</span>
          <span *ngIf="passwordForm.get('password')?.hasError('strongPassword')">Şifre en az 8 karakter, 1 büyük harf, 1 küçük harf, 1 rakam ve 1 özel karakter içermelidir.</span>
        </mat-error>
      </mat-form-field>

    <mat-form-field appearance="fill" class="field">
      <mat-label>Şifre Tekrarı</mat-label>
      <input matInput type="password" formControlName="passwordConfirm">
      <mat-error *ngIf="passwordForm.get('passwordConfirm')?.invalid && passwordForm.get('passwordConfirm')?.touched">
        <span *ngIf="passwordForm.get('passwordConfirm')?.hasError('required')">Şifre tekrarı gereklidir.</span>
        <span *ngIf="passwordForm.get('passwordConfirm')?.hasError('passwordMatch')">Şifreler eşleşmiyor.</span>
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">ptal</button>
  <button mat-raised-button color="primary" [disabled]="passwordForm.invalid"
    (click)="updatePassword()">Güncelle</button>
</div>
